.furns{
    float: left;
    width: 140px;
    height: 140px;
    margin: 3px;
    background-color: #E6F7FF;
    /*    border-radius: 26px; 
        -moz-border-radius: 26px; 
        -webkit-border-radius: 26px; */
    border: 2px solid #053A80;
    position: relative;
}

#search{
    position: relative;
    top: 10px;
    left: 15px;
}

#furnContainer {
    position: relative;
    margin: 0 auto;
    top: 40px;
    left: 25px;
}

.namefurn {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: 120px;
}

.holder {
    top: 20px;
}

.labelfurn{
    font-weight: bold;
    font-size: x-small; 
}

.valuefurn{
    font-size: small;
}

.add {
    font-weight: bold;
    text-align: center;
    background-color: greenyellow;
    border: 1px solid black;
/*    margin-left: 124px;
    margin-top: -77px;*/
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
}

.sell {
    font-weight: bold;
    text-align: center;
    background-color: #EE5757;
    border: 1px solid black;
/*    margin-left: 124px;
    margin-top: -77px;*/
    width: 20px;
    height: 20px;
    float: left;
}

.hidden{
    display: none;
}

.showfurn{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    background-color: #ffc;
    position: absolute;
    left: 50px;
    top: 0;
}