#banner{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid red;
}

#login{
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.user-box, .pass-box{
	height: 50px;
	width: 230px;
	border-style: solid;
	border-color: #999;
	margin: 0 auto;
	text-align: left;
	line-height: 50px;
}

.user-box > div, .pass-box > div{
	display: inline-block;
	width: 60px;
}

#name, #pass{
	width: 150px;
}

* { 
    font-family: Verdana, Arial, sans-serif; 
    font-size: 96%; 
}
label { 
    display: block; 
    margin-top: 10px; 
}
label.error { 
    float: none; 
    color: red; 
    margin: 0 .5em 0 0; 
    vertical-align: top; 
    font-size: 10px 
}

.submit { 
    margin-top: 1em; 
}
em { 
    font-weight: bold; 
    padding-right: 1em; 
    vertical-align: top; 
}
