.furns{
    float: left;
    width: 140px;
    height: 140px;
    margin: 3px;
    background-color: #E6F7FF;
    /*    border-radius: 26px; 
        -moz-border-radius: 26px; 
        -webkit-border-radius: 26px; */
    border: 2px solid #053A80;
}

#search{
    position: relative;
    top: 10px;
    left: 15px;
}

#furnContainer {
    position: relative;
    margin: 0 auto;
    top: 40px;
    left: 25px;
}

.namefurn {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.holder {
    top: 20px;
}