@import url("style.css");
/*reset css*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #ddd;  
    font-family: arial;
    overflow: hidden;
}

#container  { 
    top: 0;
    margin: 0 auto;
    width: 1000px;
    height: 600px;    
    background: #fff; 
    overflow: hidden;
    position: relative;
}    
#header {
    width: 100%;
    height: auto;
    float: top;
    background: #CF3;
}    
#menu  {  	
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    background: #6F9;  
}    
#contents  {
    margin-left: 20%;
    height: 100%;
    background: #77d5f7;  
}  

#menu li {
    text-decoration: none;
}

#logout{
    position: absolute;
    width: 20px;
    right: 0; 
    top :0;
}
