@font-face {
	font-family: 'simbolos';
	src:url('fonts/simbolos.eot');
	src:url('fonts/simbolos.eot?#iefix') format('embedded-opentype'),
		url('fonts/simbolos.woff') format('woff'),
		url('fonts/simbolos.ttf') format('truetype'),
		url('fonts/simbolos.svg#simbolos') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'simbolos';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-simbolos"] {
*/
.icon-simbolosexit, .icon-simbolosswitch {
	font-family: 'simbolos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-simbolosexit:before {
	content: "\e000";
}
.icon-simbolosswitch:before {
	content: "\e001";
}
